/*
 *  サンプルプログラム(1)のシステムコンフィギュレーションファイル
 */
INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "sample1.h"
CRE_TSK(TASK_ID1, { TA_ACT, 1, task1, MID_PRIORITY, STACK_SIZE, NULL });


